<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\style\style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1 class="blue-text">Contact Details</h1>
    <a href="index.html">Home Page</a>
    <a href="about.html">About Page</a>
    <hr/>
    <ul class="red-list">
        <li>Name - Chandan Sengupta</li>
        <li>Phone - 7044083275</li>
        <li>Email - csengupta1101@outlook.com</li>
    </ul>
</body>
</html>