<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="..\style\style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1 class="blue-text">Welcome To My site</h1>
    <a href="about.html">About Page</a>
    <a href="contact.html">Contact Page</a>
    <hr/>
    <p class="Paragraph_Text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Pariatur, velit magni? A, dolor, minus officiis distinctio ipsa, 
        illo porro velit qui voluptatibus odio itaque hic sed? Incidunt id eveniet facilis.
    <p class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis molestiae quis quo. 
        Fugiat tempore voluptate, beatae veniam laudantium amet qui suscipit aut! 
        Excepturi temporibus dolores distinctio quod commodi debitis officiis?
    </p>
    </p>
</body>
</html>